<h2>Customer list.....</h2>
<div class="createcustomer">
<%=link_to "Add New Customer", new_customer_path,:class => 'btn btn-info'%>
</div>
<table border="1" class="table table-striped">
<tr class="danger">
<th>S.No.</th>
<th>Name</th>
<th>Email</th>
<th>Phone</th>
<th ><center>Address</center></th>
<th colspan="3"><center>Opration</center></th>
</tr>
<%@customer.each do |customer|%>
<tr>
<td><%=customer.id%></td>
<td><%=customer.name%></td>
<td><%=customer.email%></td>
<td><%=customer.phone%></td>
<td>
<% customer.addresses.each do |add|%>
<%=add.city%><%end%></td>

<td><%=link_to"",customer_path(customer.id),:class=>"glyphicon glyphicon-eye-open"%></td> <% if can? :update, @customer %>
<td><%=link_to"",edit_customer_path(customer.id),:class=>"glyphicon glyphicon glyphicon-edit"%></td>
    <%end%>
     <% if can? :destroy, @customer %>
<td><%=link_to"",customer_path(customer.id),method: :delete,:class=>"glyphicon glyphicon-trash"%></td><%end%>
</tr>
<%end%>
</table>
<div class="paginate">
<%= paginate @customer %>
</div>