

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h3>Update Product Detail !!!!!</h3>
<%= form_for @product, remote: true do |f| %>
<div class="row">
     <div class='field'>
     <div class="col-md-1">
          <%= f.label :name %>:
          </div>
          <div class="col-md-4 input-sm">
             <%= f.text_field :name, autofocus: true ,:class => 'form-control'%>
          </div>
     </div>
  </div><br><div class="row">
     <div class='field'>
     <div class="col-md-1">
          <%= f.label :price %>:
     
          </div>
          <div class="col-md-4 input-sm">
             <%= f.text_field :price,:class => 'form-control'%>
          </div>
     </div>
  </div><br>

<div class="row">
     <div class='field'>
     <div class="col-md-1">
          <%= f.label :brand %>:
          </div>
          <div class="col-md-4 input-sm">
             <%= f.text_field :brand,:class => 'form-control'%>
          </div>
     </div>
  </div><br>
<div class="row">
     <div class='field'>
     <div class="col-md-1">
          <%= f.label :color %>:
          </div>
          <div class="col-md-4 input-sm">
             <%= f.text_field :color,:class => 'form-control colorpicker'%>
          </div>
     </div>
  </div><br>
<div class="row">
     <div class='field'>
     <div class="col-md-1">
          <%= f.label :quantity %>:
          </div>
          <div class="col-md-4 input-sm">
             <%= f.text_field :quantity,:class => 'form-control'%>
          </div>
     </div>
  </div><br>
<div class="row">
  <div class="signbottun">
     <div class="actions">
       <%= f.submit "Create product", :class => 'btn btn-success' %>
      </div>
   </div>
</div> <br>
<%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#myModal').modal()
</script>>