<!DOCTYPE html>
<html>
<head>
   <title>OrderManagment</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="header">
<div class="container">
  <div class="row">
    <nav class="navbar navbar-default col-md-12">
      <div class="container-fluid">
        <div class="navbar-header col-md-4">
          <a class="navbar-brand" href="#">
            <div class="navimage img-rounded"> <%= image_tag("images.jpeg", :width => 200, :height => 40) %>
            </div>
          </a>
        </div>           
        <% if user_signed_in? %>
          <div class="bottun col-md-4">
            <div class="btn-shift">
             <ul class="nav navbar-nav">
               <li class="active"><a href="#">Home</a></li>
               <li><%= link_to 'Product',products_path,:class => "nav navbar-nav",:class => 'btn btn-info'%></li>
              <li><%= link_to 'Customer',customers_path,:class => "nav navbar-nav",:class => 'btn btn-info'%></a></li>
              <% if current_user.has_role? :admin %>
               <li><%= link_to 'Employee',employees_path,:class => "nav navbar-nav",:class => 'btn btn-info'%></a></li>
              <%end%>
               <li><%= link_to 'Order',orders_path,:class => "nav navbar-nav",:class => 'btn btn-info'%></a></li>
            </ul>
           </div>
           </div>
           <div class="bottun col-md-4">
            <%= image_tag(current_user.avatar_url(:thumb))  %>  
            <strong><%= current_user.first_name %></strong>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-success' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-success'  %>
          
          </div>
        <% else %>
          <div class="bottun col-md-8">
          <div class="btn-link">
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-success'%>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-success'  %>
          </div> 
          </div>      
        <% end %>
     </div>
    </nav>
  </div>
</div>
</div>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
